@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<button type="button" class="btn btn-danger" id="fuckBtn">fuck</button>
</div>

<script>
    (($) => {
        $('#fuckBtn').click(async function () {
            try {
                const req = await fetch('http://localhost:59487/api/cardreader')
                const res = await req.json()
                alert(res)
            } catch (e) {
                alert(e)
            }
        })

       
    })($)
</script>